{% extends "base.html" %}

{% load i18n %}
{% load url from compat %}
{% load staticfiles %}

{% block header %}
    {{ block.super }}
    <script src="{% static 'semanticloud/js/directives/navbarHeader.js' %}" type="text/javascript"></script>
    <base href="{% static 'semanticloud/js/directives/' %}"/>
{% endblock header %}
{% block body %}
<body>
    {% verbatim %}
    <navbar-header show-logo="true"></navbar-header>
    {% endverbatim %}
    <br>
    <div class="block-center-aligned">
        <form class="form-horizontal .horizontal-centered" method="post" action="{% block app-form-action-url %}{% url 'oauth2_provider:update' application.id %}{% endblock app-form-action-url %}">
            <!--<div class="help-inline errorlist">{{ form.errors }}</div>-->
            <h3 class="block-center-heading">
                {% block app-form-title %}
                    {% trans "Edit application" %} {{ application.name }}
                {% endblock app-form-title %}
            </h3>
            {% csrf_token %}

            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                     {% if field.errors %}
                        <div class="help-inline errorlist">{{ field.errors }}</div>
                     {% endif %}
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div class="control-group {% if form.non_field_errors %}error{% endif %}">
                {% for error in form.non_field_errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="control-group">
                <div class="controls">
                    <a class="btn" href="{% block app-form-back-url %}{% url "oauth2_provider:detail" application.id %}{% endblock app-form-back-url %}">
                        {% trans "Go Back" %}
                    </a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}