{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% load url from compat %}
{% block header %}
    {{ block.super }}
    <script src="{% static 'semanticloud/js/controllers/applicationsController.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'semanticloud/js/directives/tagable.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'semanticloud/node_modules/ladda/dist/spin.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'semanticloud/node_modules/ladda/dist/ladda.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'semanticloud/node_modules/ladda/dist/ladda.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'semanticloud/js/directives/navbarHeader.js' %}" type="text/javascript"></script>
    <base href="{% static 'semanticloud/js/directives/' %}"/>

{% endblock header %}

{% block body %}

<body>
    <script type="text/javascript">
            application_list = [];
            BETA = {
                'val': '{{BETA}}'
            };
//            console.log("BEta here");
//            console.log(BETA);
            {% if applications %}
                {% for application in applications %}
                    var tempElement = {
                        'id': '{{application.id}}',
                        'name': '{{application.name}}',
                        'help_text': '{{application.help_text}}',
                        'client_id': '{{application.client_id}}',
                        'client_type': '{{application.client_type}}',
                        'authorization_grant_type': '{{application.authorization_grant_type}}',
                        'client_secret': '{{application.client_secret}}',
                        'skip_authorization': '{{application.skip_authorization}}',
                        'tier': {
                            'id': '{{application.tier.id}}',
                            'name': '{{application.tier.name}}',
                            'monthly_requests_limit':'{{application.tier.monthly_request_limit}}'
                        },
                        'monthly_requests': '{{application.monthly_requests}}',
                        'absolute_url':  '{{application.get_absolute_url}}',
                        'tier_paid': {
                            'id': '{{application.tier_paid.id}}',
                            'name': '{{application.tier_paid.name}}',
                            'monthly_requests_limit':'{{application.tier_paid.monthly_request_limit}}'
                        },
                        'word': '',
                        'type': 'n',
                        'operation': 'synonyms',
                        'list_of_results': [],
                        'list_of_results_changed': [],
                        'tags_src': [],
                        'tags_dst': [],
                        'relation_to_add_key':'synonym'
                    };
                    application_list.push({
                        'id': '{{application.id}}',
                        'name': '{{application.name}}',
                        'help_text': '{{application.help_text}}',
                        'client_id': '{{application.client_id}}',
                        'client_type': '{{application.client_type}}',
                        'authorization_grant_type': '{{application.authorization_grant_type}}',
                        'client_secret': '{{application.client_secret}}',
                        'skip_authorization': '{{application.skip_authorization}}',
                        'tier': {
                            'id': '{{application.tier.id}}',
                            'name': '{{application.tier.name}}',
                            'monthly_requests_limit':'{{application.tier.monthly_request_limit}}'
                        },
                        'monthly_requests': '{{application.monthly_requests}}',
                        'absolute_url':  '{{application.get_absolute_url}}',
                        'tier_paid': {
                            'id': '{{application.tier_paid.id}}',
                            'name': '{{application.tier_paid.name}}',
                            'monthly_requests_limit':'{{application.tier_paid.monthly_request_limit}}'
                        },
                        'word': '',
                        'type': 'n',
                        'operation': 'synonyms',
                        'list_of_results': [],
                        'list_of_results_changed': [],
                        'tags_src': [],
                        'relation_to_add_key':'synonym',
                        'language': navigator.language || navigator.userLanguage
                    });
                {% endfor %}
            {% endif %}
    </script>
    {% verbatim %}
    <navbar-header show-logo="true"></navbar-header>
    {% endverbatim %}
    <br>
    <div class="container-fluid">
        {% if not applications %}
            <p>{% trans "No applications defined" %}. <a href="{% url 'oauth2_provider:register' %}">{% trans "Click here" %}</a> {% trans "if you want to register a new one" %}</p>
        {% endif %}
        {% verbatim %}

        <div class="container-fluid" ng-controller="applicationsController as appCtrl">
                <div class="panel panel-default" ng-repeat="app in appCtrl.get_application_list()">
                    <div class="panel-heading"><h3 class="panel-title"><a ng-href="{{app.absolute_url}}">{{ app.name }}</a></h3></div>

                     <!-- Block showed only if tier is free or is paid -->
                     <div class="panel-body" ng-if="app.tier.name=='Free' || app.tier_paid.name!='' || appCtrl.is_beta()">
                        <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="{{app.monthly_requests}}" aria-valuemin="0" aria-valuemax="{{app.tier.monthly_requests_limit}}" style="width: {{appCtrl.get_percent(app)}}%;">
                                <span class="">{{app.monthly_requests}}/{{app.tier.monthly_requests_limit}}</span>
                              </div>
                        </div>
                        <div>
                            <h4>Try your API</h4>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>Word: </label>
                                    <input type="text" class="form-control" placeholder="word" ng-model="app.word">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="app.type">
                                        <option value="n">Noun</option>
                                        <option value="v">Verb</option>
                                        <option value="a">Adjective</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>language</label>
                                    <select class="form-control" ng-model="app.language">
                                        <option ng-repeat="(lang0, lang1) in appCtrl.languagesService.get_languages() track by $index" data-ind="{{$index}}" value="{{lang1[0]}}">{{lang1[1]}}</option>
                                    </select>
                              </div>
                              <div class="form-group">
                                <label>semantic</label>
                                <select class="form-control" ng-model="app.operation">
                                    <option value="synonyms">Synonyms</option>
                                    <option value="more_general">More general</option>
                                    <option value="more_specific">More specific</option>
                                    <option value="part">Is a part</option>
                                </select>
                              </div>
                              <button type="submit" class="ladda-button ladda_bind_{{app.client_id}}" data-spinner-size=30 data-size="xs" data-color="blue" data-style="expand-right" ng-click="appCtrl.try_api(app)"><span class="ladda-label">Send</span></button>
                            </form>
                            <!--<div ng-show="app.list_of_results.length>0" class="row words-container">-->
                                <!--<span class="label label-success" ng-repeat="word in app.list_of_results">{{word}}</span>-->
                            <!--</div>-->
                            <div ng-show="app.list_of_results.length>0" class="row words-container">
                                    <tags-input ng-model="app.list_of_results" class="ti-input-sm"></tags-input>
                                    <button ng-hide="appCtrl.arraysEqual(app)" type="submit" class="ladda-button ladda_bind_modify_{{app.client_id}} ladda_left_margin" data-spinner-size=30 data-size="xs" data-color="blue" data-style="expand-right" ng-click="appCtrl.update_semantic(app)"><span class="ladda-label"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update your semantic</span></button>
                            </div>

                        </div>
                     </div>
                     <!-- -->

                     <!-- Block showed only if tier is not free and is not paid -->
                     <div class="panel-body" ng-if="app.tier.name!='Free' && app.tier_paid.name=='' && !appCtrl.is_beta()">
                        Application {{app.name}} pending payment
                         <a href="/start_payment/?application_id={{app.id}}&tier_id={{app.tier.id}}" class="btn btn-primary btn-sm active" role="button">Go to payment <span class="glyphicon glyphicon-usd" aria-hidden="true"></span></a>
                     </div>
                     <!-- -->

                    <!-- Block for adding new words -->
                    <!--<div class="toolbar" ng-if="app.tier.name=='Free' || app.tier_paid.name!=''">-->
                        <!--<a class="btn btn-default btn-sm little-bottom-margin" role="button"  href="#collapse_add_words_{{app.client_id}}" onclick="event.preventDefault()" aria-expanded="false" aria-controls="collapse_add_words_{{app.client_id}}" ng-click="appCtrl.set_relation_to_add(app, 'synonym')">-->
                             <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add synonyms-->
                        <!--</a>-->
                        <!--<a class="btn btn-default btn-sm little-bottom-margin" role="button"  href="#collapse_add_words_{{app.client_id}}" onclick="event.preventDefault()" aria-expanded="false" aria-controls="collapse_add_words_{{app.client_id}}" ng-click="appCtrl.set_relation_to_add(app, 'more_general')">-->
                            <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add more general-->
                        <!--</a>-->
                        <!--<a class="btn btn-default btn-sm little-bottom-margin" role="button"  href="#collapse_add_words_{{app.client_id}}" onclick="event.preventDefault()" aria-expanded="false" aria-controls="collapse_add_words_{{app.client_id}}" ng-click="appCtrl.set_relation_to_add(app, 'more_specific')">-->
                            <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add more specific-->
                        <!--</a>-->
                        <!--<a class="btn btn-default btn-sm little-bottom-margin" role="button"  href="#collapse_add_words_{{app.client_id}}" onclick="event.preventDefault()" aria-expanded="false" aria-controls="collapse_add_words_{{app.client_id}}" ng-click="appCtrl.set_relation_to_add(app, 'part_of')">-->
                            <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add part-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="panel-collapse collapse" role="tabpanel" id="collapse_add_words_{{app.client_id}}">-->
                            <!--<form class="toolbar-targets well">-->
                                    <!--<button type="button" class="close" data-dismiss="tabpanel" aria-label="Close" ng-click="appCtrl.dismiss_collapse_panel(app.client_id)"><span aria-hidden="true">X</span></button><br>-->
                                    <!--<div class="form-group">-->
                                        <!--<tags-input ng-model="app.tags_src"></tags-input>-->
                                        <!--&lt;!&ndash;<input type="text" id="add_words_src_{{app.client_id}}" data-provide="tokenizer" class="form-control" placeholder="word">&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--are {{ appCtrl.get_relation_to_add(app) }} of-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<input class="form-control" type="text" ng-model="app.tags_dst">-->
                                        <!--&lt;!&ndash;<input id="add_words_dst_{{app.client_id}}" data-provide="tokenizer" type="text" class="form-control" placeholder="word">&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<select class="form-control" ng-model="app.type">-->
                                            <!--<option value="n">Noun</option>-->
                                            <!--<option value="v">Verb</option>-->
                                            <!--<option value="a">Adjective</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                  <!--<button type="submit" class="ladda-button ladda_bind_add_words_{{app.client_id}}" ng-click="appCtrl.add_words(app)" data-spinner-size=30 data-size="xs" data-color="blue" data-style="expand-right"><span class="ladda-label">Send</span></button>-->
                            <!--</form>-->
                    <!--</div>-->
                    <!-- -->
                </div>
        </div>
        {% endverbatim %}

    </div>
</body>
{% endblock body %}