{% extends "base.html" %}

{% load i18n %}
{% load url from compat %}
{% load staticfiles %}

{% block header %}
    {{ block.super }}
    <script src="{% static 'semanticloud/js/directives/navbarHeader.js' %}" type="text/javascript"></script>
    <base href="{% static 'semanticloud/js/directives/' %}"/>
{% endblock header %}
{% block body %}
<body>
    {% verbatim %}
    <navbar-header show-logo="true"></navbar-header>
    {% endverbatim %}
    <br>

    <div class="block-center-aligned">
        <h3 class="block-center-heading">{{ application.name }}</h3>

        <ul class="unstyled">
            <div>
                <b>{% trans "Client id" %}</b>
                <div class="controls-disabled">
                    <input class="input-block-level disabled" disabled type="text" value="{{ application.client_id }}" readonly>
                </div>
                <br>
            </div>

            <div>
                <b>{% trans "Client secret" %}</b>
                <div class="controls-disabled">
                    <input class="input-block-level disabled" type="text" disabled value="{{ application.client_secret }}" readonly>
                </div>
                <br>
            </div>

            <div>
                <b>{% trans "Client type" %}</b>
                <p>{{ application.client_type }}</p>
                <br>
            </div>

            <div>
                <b>{% trans "Authorization Grant Type" %}</b>
                <p>{{ application.authorization_grant_type }}</p>
                <br>
            </div>

            <div>
                <b>{% trans "Redirect Uris" %}</b>
                <div class="controls-disabled">
                    <textarea class="input-block-level disabled" disabled readonly>{{ application.redirect_uris }}</textarea>
                </div>
                <br>
            </div>

            <div>
                <b>{% trans "Tier" %}</b>
                <p>{{ application.tier }}</p>
                <br>
            </div>
            {% if application.tier.name != 'Free' %}
                <div>
                    <b>{% trans "Tier paid" %}</b>
                    <p>{{ application.tier_paid }}</p>
                    <br>
                </div>
            {% endif %}
        </ul>

        <div class="btn-toolbar">
            <a class="btn" href="{% url "oauth2_provider:list" %}">{% trans "Go Back" %}</a>
            <!--{% if application.tier.name != 'Free' and application.tier_paid.name == None %}-->
                <!--<a href="/start_payment/?application_id={{app.id}}&tier_id={{app.tier.id}}" class="btn btn-primary" role="button">Go to payment <span class="glyphicon glyphicon-usd" aria-hidden="true"></span></a>-->
            <!--{% else %}-->
                <!--<a class="btn btn-primary" href="{% url "oauth2_provider:update" application.id %}">{% trans "Edit" %}</a>-->
                <!--{% if application.tier.name != 'Free' %}-->
                    <!--<a href="/start_payment/?application_id={{app.id}}&tier_id={{app.tier.id}}" class="btn btn-primary" role="button">Go to payment <span class="glyphicon glyphicon-usd" aria-hidden="true"></span></a>-->
                <!--{% endif %}-->
            <!--{% endif %}-->

            <a class="btn btn-primary" href="{% url "oauth2_provider:update" application.id %}">{% trans "Edit" %}</a>
            <a class="btn btn-danger" href="{% url "oauth2_provider:delete" application.id %}">{% trans "Delete" %}</a>
        </div>
    </div>
</body>
{% endblock body %}