input, input:focus, input:active {
  border: 0;
  width: 100%; }

input:focus, input:active {
  outline: none; }

input:active {
  border: 0; }

.img-logo {
  max-width: 300px;
  max-height: 190px; }

.horizontal-centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.errorlist {
  margin-bottom: 5px;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede; }

.controls, .controls-disabled, select, select:focus {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.taggle_list {
  background-color: white; }

.controls-disabled {
  background-color: #ebebe4; }

.btn-default {
  color: #333 !important; }

tags-input .tags .tag-item {
  background: none;
  background-color: rgba(0, 170, 0, 0.87);
  color: white;
  border-color: rgba(0, 170, 0, 0.87); }

tags-input .tags {
  margin-left: 10px;
  margin-right: 10px; }

tags-input .tags .tag-item .remove-button {
  color: white; }

.little-bottom-margin {
  margin-bottom: 5px; }

.disabled {
  cursor: not-allowed !important; }

.toolbar {
  margin: 15px; }

.toolbar-targets {
  margin-left: 15px;
  margin-right: 15px; }

.control-group {
  margin-bottom: 10px; }

select, select:focus {
  border: 0; }

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5; }

.tags {
  border-radius: 4px;
  border-color: #ccc !important; }

.block-center-heading, .block-center, .block-center-aligned {
  margin-bottom: 10px; }

.block-center, .block-center-aligned {
  padding: 19px 29px 29px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

div.tokenizer {
  text-align: left !important;
  width: 400px !important; }

div.tokenizer li span.label {
  background-color: #999999; }

.block-center-aligned {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px; }

textarea, textarea:focus, textarea:active {
  border: 0;
  width: 100%; }

textarea:focus, textarea:active {
  outline: none; }

textarea:active {
  border: 0; }

select:focus {
  outline: none; }

input[type="checkbox"] {
  display: inline;
  width: 25px; }

.label {
  margin: 3px;
  display: inline-block; }

.words-container {
  margin-top: 10px;
  font-size: 1.2em; }

.ladda-button {
  padding-top: 1px !important; }

.centered-aligned {
  text-align: center; }

@media screen and (max-width: 992px) {
  .feature > p {
    text-align: center; } }
.feature {
  padding-left: 1.5em;
  padding-right: 1.5em; }

body {
  padding-top: 0; }

nav {
  margin-bottom: 0 !important; }

.title-logo, .title-logo-grey {
  top: 1px;
  display: inline-block; }

.ladda_left_margin {
  margin-left: 10px; }

.btn-toolbar > .btn {
  margin-bottom: 5px; }

.navbar-brand > img, .navbar-brand-grey > img {
  display: inline-block;
  margin: auto; }

.big-logo > img {
  display: block;
  margin: auto; }

.navbar-brand > img, .navbar-brand-grey > img {
  margin-top: -5px; }

.big-jingle {
  margin-top: 50px;
  text-align: center; }

.home-results {
  margin-top: 15px; }

.home-result {
  font-size: 1.5em; }

.margin-top-bottom {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center; }

.big-jingle > h2 {
  display: block;
  line-height: inherit;
  color: #555; }

.body {
  color: #555; }

.navbar-brand {
  color: darkorange !important;
  font-weight: bold;
  font-size: 1.8em !important; }

.alpha {
  color: #777;
  font-weight: normal;
  font-size: 1em; }

.title-logo-grey {
  color: #777 !important; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
