        <form class="form-inline">
            <div class="form-group">
                <label>Word: </label>
                <input type="text" class="form-control" placeholder="Insert a word" ng-model="tryApiCtrl.word">
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="tryApiCtrl.type">
                    <option value="n">Noun</option>
                    <option value="v">Verb</option>
                    <option value="a">Adjective</option>
                </select>
            </div>
            <div class="form-group">
                <label>language</label>
                <select class="form-control" ng-model="tryApiCtrl.language">
                    <option ng-repeat="(lang0, lang1) in tryApiCtrl.languagesService.get_languages() track by $index" data-ind="{{$index}}"
                            value="{{lang1[0]}}">{{lang1[1]}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>semantic</label>
                <select class="form-control" ng-model="tryApiCtrl.operation">
                    <option value="synonyms">Synonyms</option>
                    <option value="more_general">More general</option>
                    <option value="more_specific">More specific</option>
                    <option value="part">Is a part</option>
                </select>
            </div>
            <button type="submit" class="ladda-button ladda_bind_home" data-spinner-size=30 data-size="xs"
                    data-color="blue" data-style="expand-right" ng-click="tryApiCtrl.tryApi()"><span
                    class="ladda-label">Send</span></button>
        </form>
        <div class="contaier-fluid home-results">
            <span class="home-result">
                <span class="label label-success " ng-repeat="element in tryApiCtrl.list_of_results">{{ element.text }}</span>
            </span>
        </div>