<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}

<html ng-app="semantiCloud">
    <head>
        {% block header %}
        <meta charset="UTF-8">
        <title>SemantiCloud</title>

        <meta name="description" content="SemantiCloud allows you to expand your search semantically, providing synonyms, more general words, more specific words, etc..." />
        <meta name="google-site-verification" content="ye80AwoUf42tamKmwpAkqMZ7BFtbd6WpbDeShDrXhOg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'semanticloud/img/favicon.ico' %}" rel="icon" type="image/x-icon">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "semanticloud/node_modules/ng-tags-input/build/ng-tags-input.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "semanticloud/style/style.css" %}">

            <!--<link rel="stylesheet" type="text/css" href="/static/semanticloud/style/style.css">-->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{% static 'semanticloud/node_modules/js-cookie/src/js.cookie.js' %}" type="text/javascript"></script>
        <script src="{% static 'semanticloud/node_modules/angular/angular.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'semanticloud/node_modules/angular-resource/angular-resource.min.js' %}" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js" type="text/javascript"></script>
        <script src="{% static 'semanticloud/node_modules/ng-tags-input/build/ng-tags-input.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'semanticloud/node_modules/underscore/underscore-min.js' %}" type="text/javascript"></script>
        <script src="{% static 'semanticloud/node_modules/bootbox/bootbox.min.js' %}" type="text/javascript"></script>

        <script src="{% static 'semanticloud/js/main.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'semanticloud/js/services/languagesService.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'semanticloud/js/services/userService.min.js' %}" type="text/javascript"></script>
        <script>
//            STATIC_URL = "{% static ' ' %}";
//            STATIC_URL = "{% static ' ' %}";
        </script>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-61291614-4', 'auto');
              ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            userInfo = {
                "id": "{{ user.id }}",
                "username": "{{ user.username}}",
                "email": "{{ user.email}}",
                "firts_name": "{{ user.first_name }}",
                "last_name": "{{ user.last_name }}"
            };
        </script>
        {% endblock %}
    </head>

    {% block body %}


    {% endblock %}

</html>