{% extends "base.html" %}

{% load i18n %}
{% load url from compat %}
{% block body %}
<body>
    <div class="block-center-aligned">
        <form class="form-horizontal .horizontal-centered" method="post" action="{% block app-form-action-url %}/pay/{% endblock app-form-action-url %}">
            <h3 class="block-center-heading">
                {% block app-form-title %}
                    {% trans "Payment" %} {{ application.name }}
                {% endblock app-form-title %}
            </h3>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="control-group {% if form.FirstName.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.FirstName.id_for_label }}">{{ form.FirstName.label }}</label>
                 {% if form.FirstName.errors %}
                    <div class="help-inline errorlist">{{ form.FirstName.errors }}</div>
                 {% endif %}
                <div class="controls">
                    {{ form.FirstName }}
                </div>
            </div>

            <div class="control-group {% if form.FirstName.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.LastName.id_for_label }}">{{ form.LastName.label }}</label>
                 {% if form.LastName.errors %}
                    <div class="help-inline errorlist">{{ form.LastName.errors }}</div>
                 {% endif %}
                <div class="controls">
                    {{ form.LastName }}
                </div>
            </div>

            <div class="control-group {% if form.FirstName.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.Month.id_for_label }}">{{ form.Month.label }}</label>
                 {% if form.Month.errors %}
                    <div class="help-inline errorlist">{{ form.Month.errors }}</div>
                 {% endif %}
                <div class="controls">
                    {{ form.Month }}
                </div>
            </div>
            
            <div class="control-group {% if form.FirstName.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.Year.id_for_label }}">{{ form.Year.label }}</label>
                 {% if form.Year.errors %}
                    <div class="help-inline errorlist">{{ form.Year.errors }}</div>
                 {% endif %}
                <div class="controls">
                    {{ form.Year }}
                </div>
            </div>

            <div class="control-group {% if form.FirstName.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.Number.id_for_label }}">{{ form.Number.label }}</label>
                 {% if form.Number.errors %}
                    <div class="help-inline errorlist">{{ form.Number.errors }}</div>
                 {% endif %}
                <div class="controls">
                    {{ form.Number }}
                </div>
            </div>
            
            <div class="control-group {% if form.FirstName.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.Verification.id_for_label }}">{{ form.Verification.label }}</label>
                 {% if form.Verification.errors %}
                    <div class="help-inline errorlist">{{ form.Verification.errors }}</div>
                 {% endif %}
                <div class="controls">
                    {{ form.Verification }}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <a class="btn" href="{% block app-form-back-url %}/o/applications/{% endblock app-form-back-url %}">
                        {% trans "Go Back" %}
                    </a>
                    <button type="submit" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}