{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
{{ block.super }}
<script src="{% static 'semanticloud/node_modules/ladda/dist/spin.min.js' %}" type="text/javascript"></script>
<script src="{% static 'semanticloud/node_modules/ladda/dist/ladda.min.js' %}" type="text/javascript"></script>
<link href="{% static 'semanticloud/node_modules/ladda/dist/ladda.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'semanticloud/js/directives/navbarHeader.js' %}" type="text/javascript"></script>
<script src="{% static 'semanticloud/js/directives/tryApi.js' %}" type="text/javascript"></script>
<base href="{% static 'semanticloud/js/directives/' %}"/>
{% endblock %}

{% block body %}
<body>
<!--{% csrf_token %}-->
{% verbatim %}
<navbar-header show-logo="false"></navbar-header>
<div class="jumbotron container-fluid">
    <div class="row">
        <div class="col-lg-4 big-logo">
            <img class="img-logo" src="/static/semanticloud/img/logo.png">
        </div>
        <div class="big-jingle col-lg-5">
            <h2>Expand your search semantically</h2>
        </div>
    </div>
    <div class="container-fluid margin-top-bottom">
        <div class="row">
            <div>
                <try-api></try-api>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
        <div class="row features">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 feature">
                <h3 class="centered-aligned">33 Languages</h3>
                <p>
                    SemantiCloud provide semantic expansions for 33 Languages.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 feature">
                <h3 class="centered-aligned">1.250.000 Words</h3>
                <p>
                    You can have access to over 1 Milions of words.
                </p>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 feature">
                <h3 class="centered-aligned">2.000.000 Meanings</h3>
                 <p>
                     Our system expands your search by linking up to 2 million of meanings.
                 </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 feature">
                <h3 class="centered-aligned">Rich API</h3>
                <p>
                     With our API you can integrate semantic expansion in your system.<br />
                     <a href="/contacts"><b>Contact us for a free access to our API</b></a>
                </p>
            </div>
        </div>
    </div>
<!--Home {{request.user.id}}-->
{% endverbatim %}
</body>
{% endblock %}
