{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
    {{ block.super }}
    <script src="{% static 'semanticloud/js/directives/navbarHeader.js' %}" type="text/javascript"></script>
    <base href="{% static 'semanticloud/js/directives/' %}"/>
{% endblock %}

{% block body %}
    <body>
        {% csrf_token %}
        {% verbatim %}
        <navbar-header show-logo="true"></navbar-header>
        {% endverbatim %}

        <div class="container-fluid">
            <a name="expand"></a>
            <h2 class="some-title">Expand</h2>
            <p class="howto-paragraph">
                SemantiCloud allow you to expand your search through our <a href="/doc/">API</a> service.<br>
                In your <a href="/o/applications/">profile</a> page you can easily try expansions API and <a href="/howto/#build">customize</a> it by adding or removing words.<br><br>
                <img class="img-howto" src="{% static 'semanticloud/img/applications.png' %}">

            </p>
        </div>

        <div class="container-fluid">
            <a name="build"></a>
            <h2 class="some-title">Build</h2>
            <p class="howto-paragraph">
                If you need to customize results creating your semantic you can do it from your in your <a href="/o/applications/">profile</a> page.
                Insert the target word an click send. In the tagbox than show results you can add and remove words customizing your semantic, your api will be works according your change.
                <img class="img-howto" src="{% static 'semanticloud/img/application_search.png' %}">
            </p>
        </div>
    </body>
{% endblock %}