{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block header %}
    {{ block.super }}
    <script src="{% static 'semanticloud/js/directives/navbarHeader.js' %}" type="text/javascript"></script>
    <base href="{% static 'semanticloud/js/directives/' %}"/>
{% endblock header %}
{% block body %}
<body>
{% verbatim %}
    <navbar-header show-logo="true"></navbar-header>
{% endverbatim %}
<br>
<div id="stampThiselement"></div>
          <section id="signInsection">
            <div class="container default-xlg-padding">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 block-center">
                  <p class="h1 text-center lato dark-gray">User Login</p>
                    <div class="spacer-sm"></div>
                      <div class="account-wall border-radius-xs">
                        <div class="row">
                          <div class="col-xs-12">
                            <span class="icon-destinatari blue icon-contact center"></span>
                          </div>
                        </div>

                          <!-- form -->
                          <form id="form" class="form-signin" action="/login/" method="POST">
                          {% csrf_token %}
                          <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus><br /><br />
                          <input type="password" name="password"  id="password" class="form-control" placeholder="Password" required><br /><br />
                          <button class="btn btn-md btn-primary btn-block" type="submit" id="buttonLogin" data-corners="true" value="Login">Login</button>
                          <input type="hidden" name="next" value="{{ next }}" />

                          <!--<label class="checkbox pull-left lato dark-gray labtop-left-spacer">
                              <input type="checkbox" value="remember-me">
                              Remember me -->
                          <!--<a href="/contatti/" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                          -->
                          </form>


                      </div>
                    <!--
                    <div class="spacer-sm"></div>
                      <p class="text-left h5 lato dark-gray">Forgot Password?  <a href="/password/reset/"> Reset it </a>!</p>
                    <div class="spacer-xs"></div>
                  <p class="text-left h5 lato dark-gray">Not Registered?  <a href="/trial/"> Register now </a>!</p>
                  -->
                </div>
              </div>
            </div>
          </section>
    <div id="stampThisotherelement"></div>
</body>

{% endblock %}
