{% extends "base.html" %}

{% block body %}
<body>
    <script type="text/javascript">
        {% if request.session.applications %}
            application_list = JSON.parse('{{ request.session.applications | safe | escapejs }}');
            user_name = "{{request.user.username}}";
            console.log(application_list);
            console.log(user_name);
        {% endif %}

    </script>

    Profile
    {{ request.user.id }}



</body>
{% endblock %}