{% extends "base.html" %}

{% load i18n %}
{% block body %}

<body>
<div class="block-center-aligned">
    <form class="form-horizontal horizontal-centered" method="post" action="/password_change/">{% csrf_token %}
    <!--{% if form.errors %}-->
        <!--<p class="errornote">-->
        <!--{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}-->
        <!--</p>-->
    <!--{% endif %}-->


    <!--<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>-->
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>


        <div>
        <br>
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }}
        </div>
            <div class="controls">
                {{ form.old_password }}
            </div>
        <div>
        <br>
            {{ form.new_password1.errors }}
        </div>
        {{ form.new_password1.label_tag }}
        <div class="controls">
            {{ form.new_password1 }}
        </div>
        {% if form.new_password1.help_text %}
        <p class="help">
                {{ form.new_password1.help_text|safe }}
        </p>
        {% endif %}
    <div>
    <br>
    {{ form.new_password2.errors }}
    </div>

    {{ form.new_password2.label_tag }}
    <div class="controls">
        {{ form.new_password2 }}
    </div>
    {% if form.new_password2.help_text %}
    <p class="help">
        {{ form.new_password2.help_text|safe }}
    </p>
    {% endif %}

    <br>
    <input type="submit" class="form-control btn-default" value="Change my password" />

    <!--<script type="text/javascript">document.getElementById("id_old_password").focus();</script>-->
    </form>
</div>
</body>
{% endblock %}
