{% extends "base.html" %}
{% block body %}
    <body>
    <div class="container-fluid">
        <div class="row">
                    <form action="/accounts/register/" method="post" class="form block-center col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col-lg-12">
                            <div class=" form-group">
                                {{ form.username.errors }}
                                <label for="{{ form.username.id_for_label }}">Username:</label>
                                <div class="form-control">
                                    {{ form.username }}
                                </div>
                            </div>
                        </div>
                        <div  class="col-lg-12">
                            <div class="form-group ">
                                {{ form.email.errors }}
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                <div class="form-control">
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                        <div  class="col-lg-12">
                            <div class="form-group ">
                                {{ form.password1.errors }}
                                <label for="{{ form.password1.id_for_label }}">Password:</label>
                                <div class="form-control">
                                    {{ form.password1 }}
                                </div>
                            </div>
                        </div>
                        <div  class="col-lg-12">
                            <div class="form-group ">
                                {{ form.password2.errors }}
                                <label for="{{ form.password2.id_for_label }}">Repeat password:</label>
                                <div class="form-control">
                                    {{ form.password2 }}
                                </div>
                            </div>
                        </div>
                        <div  class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
        </div>
    </div>
    </body>
{% endblock %}